@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
}

.container{
    width: 100%;
    margin: 0 auto;
}

/*header*/

.header{
    background: #1FBD8A;
}

.header-inner{
    width: 100%;
    display: flex;
    font-family: 'Roboto', sans-serif;
    background: #1FBD8A;
    padding: 21px 175px;
    height: 71px;
}


.logo{
    margin-right: 33px;
}

.tegs{
    display: flex;
    align-items: center;
}

.tegs>li{
    list-style-type: none;
}

.tegs>li>a{
    text-decoration: none;
    margin-right:45px ;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
color: #FFFFFF;
}

.tegs a:hover{
    border-bottom: 2px solid #fff;
}

.login{
    margin-left: 230px;
}



.keys{
    cursor: pointer;
    background: #F4FBF9;
border-radius: 50px;
height: 36px;
width: 156px;
align-items: center;
justify-content: center;
display: flex;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 16px;
text-align: center;
color: #24475B;
}

.burger{
    display: none;
    cursor: pointer;
}

.line{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #fff;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}


/*intro*/

.intro{
    -webkit-box-shadow: 4px -34px 30px -14px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 4px -34px 30px -14px rgba(34, 60, 80, 0.2);
box-shadow: 4px -34px 30px -14px rgba(34, 60, 80, 0.2);
    background-color: #1FBD8A;
    width: 100%;
}

.intro-top{
    display: flex;
    margin-bottom: 85px;
    padding-left: 165px;
}

.intro-left{
    margin-top: 116px;
}



.intro-teg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33px;
    width: 200px;
    background: rgba(255, 255, 255, 0.25);
border-radius: 33px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 15px;
color: #FFFFFF;
text-align: center;
}

.intro-text> h1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 80px;
color: #FFFFFF;
}

.intro-text>p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
color: #FFFFFF;
}

.intro-button{
    padding-top: 44px;
}

.intro-button>button{
    height: 50px;
    width: 262px;
    margin-right: 12px;
border-radius: 50px;
}

.intro-button>.start{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 16px;
text-align: center;
color: #013A51;
    background-color: #FFFFFF;
    border: none;
}

.intro-button>.talk{
    background: #192F44;
border-radius: 50px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 16px;
text-align: center;
color: #FFFFFF;
border: none;
}

.intro-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1024px){
    .header-inner{
        width: 100%;
    }
    .tegs{
        width: 65%;
    }
}

@media screen and (max-width: 765px){
    .header-inner{
        width: 100%;
        padding: 21px 35px;
    }
    .logo{
        margin-right: 20px; 
    }

    .burger{
        display: block;
    }  
      .tegs{
        visibility: hidden;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #1FBD8A;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
    }
    

    .login{
        margin: 0;
    }

    .tegs li{
        margin-top: 30px;
        opacity: 0;
    }

    .tegs li a{
        font-size: 23px;
        font-weight: 700;
    }


    .keys{
        display: none;
    }

    /*intro*/
    .intro-right{
        display: none;
    }

    .intro-left{
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .intro-bottom img{
        margin-bottom: 40px;
        width: 400px;
        height: 50px;
    }

    .intro-button{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .intro-button> button{
        margin-bottom: 10px;
    }

    .intro-top{
        padding-left: 15px;
        padding-right: 15px;
    }

 }

.nav-active{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    visibility: visible;
        left: 0;
}

@keyframes navLinksFade {
    from{
        opacity: 0;
        transform: translateX(50px);
        -webkit-transform: translateX(50px);
        -moz-transform: translateX(50px);
        -ms-transform: translateX(50px);
        -o-transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
    -moz-transform: rotate(-45deg) translate(-5px, 6px);
    -ms-transform: rotate(-45deg) translate(-5px, 6px);
    -o-transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
    -moz-transform: rotate(45deg) translate(-5px, -6px);
    -ms-transform: rotate(45deg) translate(-5px, -6px);
    -o-transform: rotate(45deg) translate(-5px, -6px);
}